.left-nav-links {
    text-decoration: none;
    color: initial;
}

.list-group-item.active a {
    color: #fff;
    font-weight: bold;
    transition: all 0.2s linear;
}

.list-group-item.active {
    background-color: #2b49aa;
}

#infographics-container {
    background-color: #463ebd;
    align-items: center;
    text-align: center;
}

#infographics-container img {
    width: 60%;
}
